:root {
    --color-action: #c33e3e;
    --color-background: #b9b9b9;
    --color-text-black: #000000;
    --color-text-white: #ffffff;
    --color-secondary: #ceb9b98f;
    --color-text-secondary: #474747;

    --font-family-title: 'Noto Sans', sans-serif;
    --font-family-text: 'Space Grotesk', sans-serif;   
    
    --background-color-opaque: #b5b5b54d;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    color-scheme: light;
}
body {
    width: fit-content;
    height: fit-content;
    font-family: var(--font-text);
    overflow-y: hidden;
}
#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* opacity: 0.5; */
    background-color: #474747;
}

a {
    color: var(--color-text-white);
    text-decoration: none;
    font-family: var(--font-family-text);
}

p {
    font-family: var(--font-family-text);
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-text);
}
input, textarea {
    font-family: var(--font-family-text);
}

.current {
    color: var(--color-action);
}
.principal {
   background-image: url(src/assets/background.png);
   background-size: cover;
   width: 500px;
   min-height: 600px;
   padding: 3px;
}
.principal > h2 {
    text-align: center;
    padding: 5px;
    border-radius: 7px;
    /* border: 1px solid green; */
    backdrop-filter: blur(5px);
    background: var(--background-color-opaque);
    color: #001316;
    font-weight: bold;
   
 }
 .rose {
    font-weight: 700;
    color: var(--color-action);
 }
 .done {
    background-color: var(--color-text-secondary) !important;
    opacity: 0.7;
 }

 input {
    font-family: var(--font-family-text);
    color: var(--color-text-black) !important;
    width: 100%;
    background-color: transparent;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid var(--color-secondary);
    margin-top: 3px;
    font-weight: bold;
 }


::-webkit-scrollbar {
    background-color: transparent;
    width: 2px;
    
}
::-webkit-scrollbar-thumb {
    background-color: #001316;
    max-height: 5px !important;
}

input::placeholder {
    font-weight: 400 !important;
    color: #474747;
 }

 .background-container {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   z-index: -1;
   > img {
    max-width: 100%;
}

}

.navigation {
    display: flex;
    margin-top: 3px;
    justify-content: space-around;
    >a {
        display: block;
        padding: 5px;
        color: var(--color-text-black);
        
    }
}

.current {
    color: var(--color-text-black) !important;
    /* background-color: white; */
    backdrop-filter: blur(10px);
    border: 1px solid var(--background-color-opaque);
    border-radius: 7px;
    font-weight: bold;
}