:root {
  /* This is the color used in hovers and focus state of elements, it helps the user knows that something is actionable */
  --color-action: white;

  /* This is the color used to contrast with the action color when an element is using the action color, it helps to distinguish the content easily */
  --color-action-contrast: black;
  /* Primary color used for most of the fonts */
  --font-primary-color: white;

  /* Secondary color used for not main content texts */
  --font-secondary-color: #c2c2c281;


  /* These are the colors  used to mark a note as DONE */
  --done-bg-color: var(--font-secondary-color);
  --done-font-color: var(--color-action-contrast);

  /* Background color of the app */
  --bg-color: #020c14;
  
  /* Background color of the notes of all sections when they are active or selected */
  --notes-bg-color: var(--color-action);

  /* Background color of the notes of all sections when they are unselected or inactive */
  --unselected-notes-bg-color: rgba(226, 226, 226, 0.03);

  --notes-font-size: 18px;

  /* Font family for the titles */
  --font-family-title: "Noto Sans", sans-serif;

  /* Font family for the readable texts */
  --font-family-text: "Space Grotesk", sans-serif;

  /* This is the border radious used in all elements for instance */
  --global-border-radious: 7px;

  color: var(--font-primary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  width: fit-content;
  height: fit-content;
  font-family: var(--font-text);
  overflow-y: hidden;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
  font-family: var(--font-family-text);
  color: var(--color-action);
}

p {
  font-family: var(--font-family-text);
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-text);
}

input,
textarea {
  font-family: var(--font-family-text);
  width: 100%;
  padding: 5px;
  resize: none;
  border-radius: var(--global-border-radious);
  border: 1px solid var(--font-secondary-color);
  background-color: transparent;
  color: var(--font-primary-color);
  
  &:hover,
  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--font-secondary-color);
  }
}


.current {
  color: var(--color-action);
}

.principal {
  background-color: var(--bg-color);
  width: 500px;
  min-height: 600px;
  padding: 3px;
}
.principal > h2 {
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background-color: #001316;
  max-height: 5px !important;
}

.navigation {
  display: flex;
  margin: 3px 0px;
  justify-content: space-around;
  > a {
    display: block;
    padding: 5px;
  }
}

.active {
  color: var(--color-action-contrast) !important;
  background-color: var(--color-action);
  border-radius: var(--global-border-radious);
  font-weight: bold;
}

.simple-button {
  border: 2px solid var(--notes-bg-color);
  border-radius: 8px;
  padding: 7px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    background-color: var(--color-action);
    color: var(--color-action-contrast);
  }
}

.inline {
  display: inline;
  width: fit-content;
}