.chat {
    > section.chat-footer {
        padding: 3px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}
.message {
    background-color: var(--done-bg-color);
    margin-top: 5px;
    padding: 5px;
    border-radius: var(--global-border-radious);
    &.user {
        background-color: transparent;
    }
}