

.home > input:focus {
   border: 1px solid var(--chat-primary-color);
   outline: none;
   font-weight: 600;
}
.note-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 3px;
   background-color: transparent;
   flex-wrap: wrap;
   margin-top: 3px;
}
.note {
   padding: 6px;
   background-color: #f1ebebe0;
   color: rgb(40, 40, 40);
   font-weight: bold;
   display: flex;
   text-align: center;
   flex-direction: column;
   word-break: break-all;
   gap: 3px;
   border-radius: 5px;
   flex-grow: 1;
   font-size: 10px !important;
   position: relative;
}
.note:hover {
   background-color: aliceblue;
}
.note > div:last-child {
   display: flex;
   align-items: end;
   justify-content: center; 
   
 }
.note > div:last-child button {
   background-color: transparent;
   border: none;
   color: rgba(250, 0, 0, 0.337);
   margin-left: 2px;
   display: inline-block;
   cursor: pointer;
}
.note > div:last-child button:hover {
   color: rgb(250, 0, 0);
}

.copied-modal {
   background-color: rgba(223, 218, 218, 0.917);
   color: rgb(0, 0, 0);
   position: absolute;
   visibility: hidden;
   padding: 6px;
   width: 150px;
   border-radius: 5px;
   animation: appear-disappear 1s ease-in-out 1;
   animation-play-state: paused;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

@keyframes appear-disappear {
   0%{
      visibility: hidden;
   }
   100%{
      visibility: visible;
   }
}

