
.home > input {
    background-color: #043f47;
    color: var(--color-rose);
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 0;
    margin-bottom: 2px;

 }
 .home  input::placeholder {
    color: rgba(245, 245, 245, 0.832);
    font-weight: 400 !important;
 }
 .home  input:focus {
    border: 1px solid var(--chat-primary-color);
    outline: none;
    font-weight: bold;
 }
 .sticker-board {
    display: flex;
    gap: 2px;
    flex-direction: column;
    padding: 2px;
    overflow: hidden;
    width: 99%;
   }
 .sticker-board > div {
    padding: 5px;
    word-break: break-all;
    border-radius: 5px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 3px;
    background-color: rgb(24, 57, 100);
 }
 .sticker-board > div > div:first-child {
    color: whitesmoke;
    text-align: center;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    word-break: keep-all;

 }
 .sticker-board > div > div > span {
   font-weight: 700;
   
   
 }
 .sticker-board > div > div > i {
   color: var(--color-rose);
   cursor: pointer;
   text-align: center;

 }
 .sticker-board > div > div>  i:hover {
   color: whitesmoke;
 }