#notesList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

textarea {
  width: 100%;
  height: 100%;
  resize: vertical;
  background-color: transparent;
  backdrop-filter: blur(5px);
  padding: 3px;
}

.note {
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  height: fit-content;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  list-style-type: none;
  display: flex;
  gap: 10px;
  flex-direction: column;
  & h3 {
    font-size: 1rem;
    text-align: left;
    width: 100%;
  }
  /* display: flex; */
  & .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    & > * {
      color: rgba(97, 97, 97, 0.286) !important;
      flex: 1; /* Makes each child of footer grow to take equal space */
    }

    & button {
      border: 1px solid transparent;

      &.delete-button {
        color: var(--color-action);
        &:hover {
          color: var(--color-action-contrast);
          background-color: var(--color-neon-red);
        }
      
      }

      &:hover {
        border: 1px solid var(--color-action);
        color: var(--color-action);
        > i {
          color: var(--color-action);
        }
      }
      &:active {
        border: 1px solid var(--color-action);
        color: black;
        > i {
          color: black;
        }
      }
    }
  }
}

#add-new-button {
  position: fixed;
  display: flex;
  bottom: 10%;
  padding: 20px;
  right: 10%;
  z-index: 1;
  font-size: large;
}
