

textarea {
  width: 100%;
  height: 100%;
  resize: vertical;
  background-color: transparent;
  backdrop-filter: blur(5px);
  padding: 3px;
}

.note {
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  list-style-type: none;
  display: flex;
  gap: 5px;
  flex-direction: column;
  & h3 {
    font-size: 1rem;
    text-align: left;
    width: 100%;
  }
  /* display: flex; */
  & .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    & > * {
      color: rgba(97, 97, 97, 0.286) !important;
      flex: 1; /* Makes each child of footer grow to take equal space */
    }

    & button {
      border: 1px solid transparent;

      &:hover {
        border: 1px solid var(--color-action);
        color: var(--color-action);
        > i {
          color: var(--color-action);
        }
      }
      &:active {
        border: 1px solid var(--color-action);
        color: black;
        > i {
          color: black;
        }
      }
    }
  }
}



#notes-container {
  background-image: url('../assets/background.png');
  background-size: contain;
  height: 500px;
  overflow-y: scroll;
  padding-bottom: 150px;
}


.category-group {
  background-color: rgba(220, 220, 220, 0.149);
  padding: 10px;
  margin-block: 5px;
}


.category-title::first-letter {
  color: var(--color-action);
}
