#todo-form {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.todos-container {
  display: grid;
  width: 100vw;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}


.todo {
  background-color: var(--notes-bg-color);
  padding: 5px;
  color: var(--color-action-contrast);
  border-radius: var(--global-border-radious);
  text-align: center;
  background-color: var(--bg-unselected-object);

  & .todo-extra-info {
      display: flex;
      justify-content: space-between;
  }

}
