
 .sticker-board {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2px;
    padding: 2px;
    overflow: hidden;
    width: 99%;
   }

 .sticker {
    padding: 2px;
    border-radius: 5px;
    word-break: break-all;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-wrap: break-word;
    gap: 3px;
    color: black;
    background-color: var(--notes-bg-color);
 }
 .sticker > p {
   font-family: var(--font-to-read);
   word-spacing: 10%;
   font-weight: bold;
 } 

 .sticker-board > div > div > span {
   font-weight: 700;
 }

 .sticker-board > div > div > i {
   color: var(--color-text-secondary);
   cursor: pointer;
   text-align: center;
 }

 .sticker-board > div > div>  i:hover {
   color: var(--color-action);
 }